@import "../../utils/colors.scss";

.container-modern-detail {
  margin-top: 60px;
  margin-left: 250px;
  padding: 10px;
  .title-top {
    margin-left: 60px;
    font-weight: 700;
    font-size: 18px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrapper-title {
      width: 50%;
      background-image: linear-gradient(
        to left,
        $primary-color,
        $secondary-color
      );
      padding-left: 30px;
      animation: animasi 0.5s forwards;       
      .title {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
      }
    }
    @keyframes animasi {
      0% {
        transform: translateX(-70px);
      }            
      100% {
        transform: translateX(-30px);
      }
    }    
    .button-row {
      display: flex;
      .button-detail {
        background: $secondary-color;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        animation: rotasi 1s ease-in-out forwards;
        cursor: pointer;
        .color-icon {
          color: #fff;
        }
      }
      .button-detail:hover {
        background: #eae6c5;
      }
      .button-detail-right {
        margin-left: 10px;
        background: $secondary-color;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        animation: rotasi-right 1s ease-in-out forwards;
        cursor: pointer;
        .color-icon {
          color: #fff;
        }
      }
      .button-detail-right:hover {
        background: #eae6c5
      }
      .white {
        background: #fff;
        cursor: default;
      }
      .white:hover {
        background: #fff;
      }
    }

    @keyframes rotasi {
      0% {
        transform: rotate(-180deg);
      }
      100% {
        transform: rotate(-90deg);
      }
    }
    @keyframes rotasi-right {
      0% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(90deg);
      }
    }
  }
  .competence {    
    padding: 30px;    
    h4 {
      margin: 0px;
    }
    .table-competence {      
      display: flex;      
      padding: 0px;
      margin: 0px;  
      .number {
        border: solid 0.5px #eae6c5;
        padding: 8px;
      } 
      .item {
        width: 100%;
        border: solid 0.5px #eae6c5;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
      }           
      .background {
        background: #eae6c5;
      }
    }
    .table-background {
      background: #eae6c5;
      padding: 10px;
      text-align: center;
      margin-top: 30px;
    }
  }
  .wrapper-course {
    padding-left: 30px;
    padding-right: 30px; 
    text-align: justify;   
    p {
      text-indent: 50px !important;//untuk membuat alinea baru menjorok kedalam      
    }
    .content-course {      
      line-height: 2em;      
    }
  }   
  .wrapper-images {
    padding-left: 30px;
    padding-right: 30px;
  }
  .notes {
    // border-right: solid 3px brown;
    // border-left: solid 3px brown;
    // border-top: solid 3px brown;
    // border-top-left-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .item {
      line-height: 2em;
      border-bottom: solid 1px #262626;
      display: block;
    }
    .list {
      margin-left: -30px !important;
    }
  }
  .exercise {
    // border-right: solid 3px brown;
    // border-left: solid 3px brown;
    // border-bottom: solid 3px brown;
    border-bottom-left-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    .title-keyword {
      font-size: 13px;
      line-height: 1.5em;
    }
  }
  .summarize {
    padding: 30px;
    background: #eae6c5;
    margin: 30px;    
    .title {
      font-size: 16px;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }
    .text-summarize {
      line-height: 2em;
    }    
  }
  .wrapper-source {
    // border-right: solid 3px brown;
    // border-left: solid 3px brown;        
    padding: 30px;          
    .source {
      border: solid 1px #C3C3C3;
      padding: 30px;
      .source-belajar {        
        margin: 0px;
        margin-bottom: 20px;
      }
      .div-url {        
        p {
          margin: 0px;
        }        
        .title-url {
          margin-right: 30px;
        }
      }
    }    
  }
  .text-url {
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 700px) {
  .container-modern-detail {
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    .row {    
      display: block;                    
      .wrapper-title {
        width: 100%;  
        padding: 2px;      
        margin-bottom: 20px;
        .title {          
          font-size: 13px;
          text-align: center;
        }
      }      
    }
    .notes {
      display: block;      
      padding: 0px;
    }
    .wrapper-course {
      padding: 0px;
    }
    .competence {
      padding: 0px;
    }
    .exercise {
      padding: 0px;
    }
    .summarize {
      margin: 0px;
      margin-top: 20px;
    }
    .wrapper-source {       
      word-wrap: break-word;
      padding: 0px;
      .source {               
        padding-left: 0px;
        .source-belajar {
          margin-left: 8px;
        }
        .div-url {          
          a {                        
            display: block;
          }          
        }
      }      
    }
  }
}
