@import "../utils/colors.scss";

.container-modern-intro {
    margin-top: 60px;
    margin-left: 250px;
    padding: 10px;
    .title-top {
        margin-left: 60px;
        font-weight: 700;
        font-size: 18px;        
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;                   
        .wrapper-title {
            width: 55%;
            background-image: linear-gradient(to left, $primary-color,$secondary-color);        
            padding-left: 30px;
            transform: translateX(-30px);        
            transition: 0.5s;
            .title {        
                font-weight: 500;
                font-size: 16px;                        
                color: #fff;
            }
        }
        .animasi {                   
            transform: translateX(-70px);        
        }        
        .button-detail {
            background: $secondary-color;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;                  
            transform: rotate(90deg);
            transition: all ease-in 0.5s;
            cursor: pointer;
            .color-icon {
                color: #fff;
            }            
        }
        .button-detail:hover {
            background: #eae6c5;
        }
        .button-rotate-up {
            transform: rotate(180deg);
        }
        .button-detail-active {
            background: $secondary-color;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transform: rotate(0deg);
            transition: all ease-in 0.5s;
            cursor: pointer;
            .color-icon {
                color: #fff;
            }            
        }
        .button-detail-active:hover {
            background: #eae6c5;
        }
        .button-rotate {
            transform: rotate(90deg);
        }            
    }        
    .text-detail {
        line-height: 2em;
    }
    .italic {        
        color: $secondary-gold-color;
        cursor: pointer;
    }
    .italic:hover {
        color: #eae6c5;
    }
}

@media(max-width: 700px) {
    .container-modern-intro {
        margin-top: 0px;
        margin-left: 0px;
        padding: 10px;
    }
}