.container-modern {
    margin-top: 60px;
    margin-left: 250px;
    padding: 10px;
    .title {
        font-weight: 700;
        font-size: 18px;        
    }
    .italic {
        color: #c0c0c0;
        cursor: pointer;
    }
}