@import "../../utils/colors.scss";

.container-detail {
    background: #fff;        
    margin-left: 60px;       
    margin-right: 60px;       
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 0px 1px 1px #c6c6c6;    
    border-left: solid 3px #000;
}


@media(max-width:700px) {
    .container-detail {
        margin-left: 0px;    
        margin-right: 0px;            
    }
}